{% extends 'base.html' %}
{% load static %}
{% block title %}Food List{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="food-list">
    <h1>Food List</h1>
    <ul>
      {% for food in foods %}
        <li>{{ food.name }} - {{ food.calories }} calories <a href="{% url 'remove_food' food.id %}">remove</a></li>
      {% empty %}
        <li>No food items yet.</li>
      {% endfor %}
    </ul>
    <form action="{% url 'reset_calories' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Reset Calories">
    </form>
  </div>
{% endblock %}

