{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <nav>
    <h2 class="logo">My Food Tracker</h2>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'add_food' %}">Add Food</a></li>
      <li><a href="{% url 'food_list' %}">Food List</a></li>
    </ul>
  </nav>
  <div id="main-content">
    <h1>Welcome to My Food Tracker</h1>
    <p>This app allows you to track the calories of the food you eat and view a list of all the food items you've added.</p>
  </div>
{% endblock %}

{% block footer %}
  <footer>
    <p>&copy; 2023 My Food Tracker</p>
  </footer>
{% endblock %}

